*{ margin: 0; padding: 0; font-size: 13px; list-style: none; }

body{ background: #f5f5f5; }

.top{ width: 100%; background: url(../images/top_bg.jpg) repeat-x; height: 27px; }

.top-content{ line-height: 27px;width: 1000px; margin: 0 auto; }

.top-content li{ width: 70px; float:right; color: #8E8E8E; list-style-image: url(../images/arrow.jpg); }

.wrap{ width: 1000px; margin: 0 auto; }

.logo{background: #fff; height: 80px; overflow: hidden;}

.logoleft{ float: left; width: 300px; display: inline;}

.logoright{ float: right; width: 300px; display: inline; margin-top: 35px; color: #8E8E8E;}

.logoright img{ margin-left: 7px; }

.logoright .tel{ font-family: "微软雅黑"; font-size: 22px; color: #C00; }

.nav{ height: 35px; background-color: #c00; border: 1px solid #c00; border-radius: 7px;}

.nav ul li{ list-style: none; float: left; line-height: 35px; width: 100px; text-align: center;}

.nav ul li a{ text-decoration: none; color: #fff; font-family: "微软雅黑"; font-size: 17px; }

.nav ul li a:hover{ color: #ffff00;}

.search_text{ border: 1px solid #FFF; margin-left: 90px; padding-right: 30px; width: 190px; height: 25px; margin-top: 4px; background: url(../images/search.jpg) no-repeat right center #fff;  }

.ad{ height: 320px; margin-top: 5px; overflow: hidden; }

.main{ height: 250px; margin-top: 5px; }

.news{ background-color: #fff; width: 340px; border: 1px solid #E8E8E8;}

.course{ background-color: #fff; width: 410px; margin: 0 7px; border: 1px solid #E8E8E8; }

.sidebar{ width: 230px; height: 250px; }

.news,.course,.sidebar{ float: left; height:250px; }

.title{ border-bottom: 2px solid #ccc; height: 35px; background: #fff; line-height: 35px; }

.title .title-left{ color: #786F66; float: left; width: 70%; padding-left: 20px;}

.title .title-right{ float: right; width: 20%; text-decoration: none; color: #786F66; font-size: 11px;}

.pic-news{ padding: 5px 5px 0; background-color: #fff; height: 80px;  line-height: 22px;  }

.pic-news img{ float: left; margin: 0 5px;}

.pic-news a{ text-decoration: none; color: #c00; }

.news-list{margin-top: 20px; }

.news-list li{background: url(../images/list.jpg) no-repeat; padding-left: 10px; border-bottom: 1px dotted #ccc; height: 18px; line-height: 18px; }

.news-list li span{ float: right; color: #999; }

.news-list a:link, .news-list a:visited{ color: #000; text-decoration: none; }

.news-list a:hover, .news-list a:active{ color: #c00; text-decoration: none;}

.product_list{ height: 120px; margin-top: 10px; line-height: 22px; }

.product_list img{ float: left;  padding: 0 5px; }

.product_list a{ text-decoration: none; color: #c00;  }

.product{ width: 410px; height:57px;background: #fff;}

.product li{ float: left; line-height: 57px;width: 100px; text-align: center;font-size: 25px; }

.product a{ text-decoration: none; color: black; }

.video { height: 185px; margin-bottom: 10px; border: 1px solid #E8E8E8; }

.video-content{ height: 150px; }

.sidebar-ad{ height: 55px; margin-top: 10px; border: 1px solid #E8E8E8; }

.copyright{ clear:both; width: 100%; height: 200px; margin-top: 10px; background: #E8E8E8; }

.copyright-content{ padding-top: 20px; width: 1000px; margin: 0 auto; }

.copyright-content li{ font-family: "微软雅黑"; height:30px; background: url(../images/line.png)no-repeat right center; text-align: center; list-style-type: none; float: left; width: 200px; }

.copyright-content a{ color: #999; text-decoration: none; font-size: 18px; }

.copyright-content li ul a{ font-size: 14px; }

.list-main{ _height:350px; min-height: 350px; background: #fff; margin-top: 10px; }

.news-type{ float: left; width: 220px; height: 350px; border: 1px solid #E8E8E8; }

.list-box{ float: right; _height: 350px; width: 770px; min-height: 350px; border: 1px solid #E8E8E8; background: #fff;}

.news-type h2{ font-size: 14px; font-family: "微软雅黑"; color: #666; height: 35px; line-height: 35px; background: url(../images/titile_bg.gif); padding-left: 20px; }

.news-type-content{ height: 365px; background: url(../images/content_bg.gif)repeat-x; }

.news-type-content li{ list-style-type: none; line-height: 30px; height: 30px;  }

.news-type-content li a{ display: block; color: #666; text-decoration: none; background: url(../images/li_bg.gif)no-repeat left center; padding-left: 15px;}

.news-type-content li a:hover{ color: #009cdf; background: url(../images/li_bg2.gif)no-repeat left center; background-color: #f2f2f2;}

.list-box h2{ font-family: "微软雅黑"; font-size: 14px; height: 35px; line-height: 35px; color: #666; padding-left: 20px; background: url(../images/type_bg.png)repeat-x; }

.page{ height: 40px; margin-top: 30px; text-align: center; }

.page a{ display: inline-block; border: 1px solid #E8E8E8; text-decoration: none; padding: 5px 10px; margin: 5px; }

.page a:link,.page a:visited{ color: #000;}

.page a:hover,.page a:active{ color: #009cdf; background:#f2f2f2; }

.list-box-newsContent{ margin: 10px;}

.list-box h1{ font-family: "微软雅黑"; font-size: 20px; text-align: center;}

.list-box .admin{margin: 10px; padding: 10px; text-align: right; font-family: "微软雅黑"; color: #666; font-size: 11px; border-bottom: 1px dotted #666; }